# Data Pre-Processing

This notebook is to run the data pre-processing as described in the progress report.
https://docs.google.com/presentation/d/1PXPFEvt1X1ZZcwDqsMTOGpfHNX_rQHvGJvN-3QbUprI/edit?ts=605064b2#slide=id.p

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('test.csv')
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region
0,2004-01,bukit batok,4 room,186,bukit batok west avenue 6,04 to 06,94.0,new generation,uncategorized,1989,1.346581,103.744085,0.0,bukit batok west,bukit batok,west region
1,2001-11,tampines,5 room,366,tampines street 34,04 to 06,122.0,improved,uncategorized,1997,1.357618,103.961379,0.0,tampines east,tampines,east region
2,2002-07,jurong east,3 room,206,jurong east street 21,01 to 03,67.0,new generation,uncategorized,1982,1.337804,103.741998,0.0,toh guan,jurong east,west region
3,2015-04,ang mo kio,3 room,180,Ang Mo Kio Avenue 5,04 to 06,82.0,new generation,uncategorized,1981,1.380084,103.849574,0.0,yio chu kang east,ang mo kio,north-east region
4,2004-04,clementi,5 room,356,clementi avenue 2,01 to 03,117.0,standard,uncategorized,1978,1.313960,103.769831,0.0,clementi north,clementi,west region

##Remove the following attributes
* Town - because it duplicates with Planning Area
* Block - useful geographical location information is already included in latitude and longitude
* Street_name - same as ‘block’
* Flat_model - we think it has no value
* Eco_category - remove because all are uncategorised 
* Elevation- remove because all the same
* Subzone -- highly overlap with Planning Area
* Region -- remove because too little information

In [3]:
df=df.drop(columns=["town","block","street_name","flat_model","eco_category","elevation","subzone","region"])
df.head()

,month,flat_type,storey_range,floor_area_sqm,lease_commence_date,latitude,longitude,planning_area
0,2004-01,4 room,04 to 06,94.0,1989,1.346581,103.744085,bukit batok
1,2001-11,5 room,04 to 06,122.0,1997,1.357618,103.961379,tampines
2,2002-07,3 room,01 to 03,67.0,1982,1.337804,103.741998,jurong east
3,2015-04,3 room,04 to 06,82.0,1981,1.380084,103.849574,ang mo kio
4,2004-04,5 room,01 to 03,117.0,1978,1.313960,103.769831,clementi

## Clean dirty records

In [4]:
arr_month=df["month"].unique()
np.sort(arr_month)

array(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
       '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12',
       '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06',
       '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12',
       '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06',
       '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12',
       '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06',
       '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12',
       '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06',
       '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12',
       '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06',
       '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12',
       '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06',
       '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12',
       '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06',
       '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12',
       '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06',
       '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12',
       '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06',
       '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12',
       '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11'],
      dtype=object)

In [5]:
values=df["flat_type"].unique()
print("Before, flat_type:")
print(np.sort(values))

Before, flat_type:
['1 room' '1-room' '2 room' '2-room' '3 room' '3-room' '4 room' '4-room'
 '5 room' '5-room' 'executive' 'multi generation']

In [6]:
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="5-room", "5 room")
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="4-room", "4 room")
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="3-room", "3 room")
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="2-room", "2 room")
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="1-room", "1 room")

df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="5 room", '5')
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="4 room", '4')
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="3 room", '3')
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="2 room", '2')
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="1 room", '1')
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="executive", 'e')
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="multi generation", 'm')

In [7]:
values=df["flat_type"].unique()
print("After, flat_type:")
print(np.sort(values))

After, flat_type:
['1' '2' '3' '4' '5' 'e' 'm']

In [8]:
values=df["storey_range"].unique()
print("Before, storey_range:")
print(np.sort(values))

Before, storey_range:
['01 to 03' '01 to 05' '04 to 06' '06 to 10' '07 to 09' '10 to 12'
 '11 to 15' '13 to 15' '16 to 18' '16 to 20' '19 to 21' '21 to 25'
 '22 to 24' '25 to 27' '26 to 30' '28 to 30' '31 to 33' '34 to 36'
 '36 to 40' '37 to 39' '40 to 42' '43 to 45' '46 to 48' '49 to 51']

In [9]:
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="01 to 03", 0)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="01 to 05", 0)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="04 to 06", 1)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="06 to 10", 1)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="07 to 09", 1)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="10 to 12", 2)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="11 to 15", 2)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="13 to 15", 2)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="16 to 18", 3)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="16 to 20", 3)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="19 to 21", 3)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="21 to 25", 4)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="22 to 24", 4)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="25 to 27", 5)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="26 to 30", 5)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="28 to 30", 5)


df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="31 to 33", 6)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="31 to 35", 6)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="34 to 36", 6)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="36 to 40", 7)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="37 to 39", 7)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="40 to 42", 8)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="43 to 45", 8)

df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="46 to 48", 9)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="49 to 51", 9)

values=df["storey_range"].unique()
print("After, storey_range:")
print(np.sort(values))

After, storey_range:
[0 1 2 3 4 5 6 7 8 9]

In [10]:
values=df["floor_area_sqm"].unique()
print("floor_area_sqm:")
print(np.sort(values))

floor_area_sqm:
[ 31.   34.   35.   38.   39.   40.   41.   42.   43.   44.   45.   46.
  47.   48.   49.   50.   51.   52.   53.   54.   55.   56.   57.   58.
  59.   60.   60.3  61.   62.   63.   63.1  64.   65.   66.   67.   68.
  69.   70.   71.   72.   73.   74.   75.   76.   77.   78.   79.   80.
  81.   82.   83.   83.1  84.   85.   86.   87.   88.   88.1  89.   89.1
  90.   91.   92.   93.   94.   95.   96.   97.   98.   99.  100.  101.
 102.  103.  104.  105.  106.  107.  108.  109.  110.  111.  112.  113.
 114.  115.  116.  117.  118.  119.  120.  121.  122.  123.  124.  125.
 126.  127.  128.  129.  130.  131.  132.  133.  134.  135.  136.  137.
 138.  139.  140.  141.  142.  143.  144.  145.  146.  147.  148.  149.
 150.  151.  152.  153.  154.  155.  156.  157.  158.  159.  160.  161.
 162.  163.  164.  165.  166.  168.  169.  170.  171.  172.  173.  174.
 175.  176.  177.  179.  180.  181.  182.  183.  184.  186.  187.  188.
 189.  192.  198.  199.  215.  222.  237.  239.  261.  266.  297. ]

In [11]:
values=df["lease_commence_date"].unique()
print("lease_commence_date:")
print(np.sort(values))

lease_commence_date:
[1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979
 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993
 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2019]

In [12]:
values=df["planning_area"].unique()
print("planning_area")
print(np.sort(values))

planning_area
['ang mo kio' 'bedok' 'bishan' 'bukit batok' 'bukit merah' 'bukit panjang'
 'bukit timah' 'changi' 'choa chu kang' 'clementi' 'downtown core'
 'geylang' 'hougang' 'jurong east' 'jurong west' 'kallang' 'marine parade'
 'novena' 'outram' 'pasir ris' 'punggol' 'queenstown' 'rochor' 'sembawang'
 'sengkang' 'serangoon' 'sungei kadut' 'tampines' 'tanglin' 'toa payoh'
 'woodlands' 'yishun']

## Convert type to category for some columns
* It seems to save some memory usage at least.

In [13]:
df["planning_area"]=df["planning_area"].astype('category')
df["storey_range"]=df["storey_range"].astype('category')
df["flat_type"]=df["flat_type"].astype('category')


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107934 entries, 0 to 107933
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                107934 non-null  object
 1   flat_type            107934 non-null  category
 2   storey_range         107934 non-null  category
 3   floor_area_sqm       107934 non-null  float64
 4   lease_commence_date  107934 non-null  int64
 5   latitude             107934 non-null  float64
 6   longitude            107934 non-null  float64
 7   planning_area        107934 non-null  category
dtypes: category(3), float64(3), int64(1), object(1)
memory usage: 4.4+ MB

## Add new columns

Add the following columns based on progress report:

* Remaing lease - 99 minus (transaction year minus lease commencement year)
* Near_school - if it is within 1 km of any primary school
* Distance_MRT - distance to nearest MRT station, in meters.
* Price_per_sqm - unit price/floor area

Then remove the following columns because they are no longer needed:
* lease_commence_date
* latitude
* longitude
* resale_price

In [14]:
df.head()

,month,flat_type,storey_range,floor_area_sqm,lease_commence_date,latitude,longitude,planning_area
0,2004-01,4,1,94.0,1989,1.346581,103.744085,bukit batok
1,2001-11,5,1,122.0,1997,1.357618,103.961379,tampines
2,2002-07,3,0,67.0,1982,1.337804,103.741998,jurong east
3,2015-04,3,1,82.0,1981,1.380084,103.849574,ang mo kio
4,2004-04,5,0,117.0,1978,1.313960,103.769831,clementi

In [15]:
df["year"]=df["month"].str[:4].astype(np.int64)
df["remaining_lease"]=99-(df["year"]-df["lease_commence_date"])

MRT and primary school related:

Creating column for nearest_mrt_distance.

In [16]:
# %%time
# import haversine
# from haversine import haversine as hs
# from haversine import Unit

# def distance(loc1, loc2):
#     return hs(loc1,loc2,unit=Unit.METERS)


# df_mrt=pd.read_csv("auxiliary-data/sg-train-stations.csv")
# df_mrt=df_mrt.dropna()
# df_mrt=df_mrt.drop(df_mrt[df_mrt["opening_year"] > 2021].index)

# flat_locs=df[["latitude","longitude"]].to_numpy()
# flat_locs=list(map(tuple,flat_locs))

# mrt_locs=df_mrt[["lat","lng"]].to_numpy()
# mrt_locs=list(map(tuple,mrt_locs))

# nearest_distances=[]
# for flat in flat_locs:
#     nearest_distances.append(min([distance(mrt,flat) for mrt in mrt_locs]))

nearest_distances = np.load("nearest_mrt_distances_test.npy")
df["nearest_mrt_distance"]=np.asarray(nearest_distances)
df.head()

,month,flat_type,storey_range,floor_area_sqm,lease_commence_date,latitude,longitude,planning_area,year,remaining_lease,nearest_mrt_distance
0,2004-01,4,1,94.0,1989,1.346581,103.744085,bukit batok,2004,84,667.550041
1,2001-11,5,1,122.0,1997,1.357618,103.961379,tampines,2001,95,766.385760
2,2002-07,3,0,67.0,1982,1.337804,103.741998,jurong east,2002,79,518.257497
3,2015-04,3,1,82.0,1981,1.380084,103.849574,ang mo kio,2015,65,546.923279
4,2004-04,5,0,117.0,1978,1.313960,103.769831,clementi,2004,73,515.878471

Creating column for exist_primary_school

In [17]:
# %%time
# df_ps=pd.read_csv("auxiliary-data/sg-primary-schools.csv")
# df_ps=df_ps.dropna()

# ps_locs=df_ps[["lat","lng"]].to_numpy()
# ps_locs=list(map(tuple,ps_locs))

# exist_primary_school=[]
# for flat in flat_locs:
#     exist_primary_school.append(min([distance(mrt,flat) for mrt in mrt_locs])<=1000)

    
exist_primary_school = np.load("exist_primary_school_test.npy")    
df["exist_primary_school"]=np.asarray(exist_primary_school)
df.head()

,month,flat_type,storey_range,floor_area_sqm,lease_commence_date,latitude,longitude,planning_area,year,remaining_lease,nearest_mrt_distance,exist_primary_school
0,2004-01,4,1,94.0,1989,1.346581,103.744085,bukit batok,2004,84,667.550041,True
1,2001-11,5,1,122.0,1997,1.357618,103.961379,tampines,2001,95,766.385760,True
2,2002-07,3,0,67.0,1982,1.337804,103.741998,jurong east,2002,79,518.257497,True
3,2015-04,3,1,82.0,1981,1.380084,103.849574,ang mo kio,2015,65,546.923279,True
4,2004-04,5,0,117.0,1978,1.313960,103.769831,clementi,2004,73,515.878471,True

In [18]:
# I keep year and drop month instead
# df=df.drop(columns=["lease_commence_date","latitude","longitude","resale_price","year"])
# df.head()

## gk_add-on_process

In [19]:
df=df.drop(columns=["lease_commence_date","latitude","longitude","month"])

In [20]:
df_org = pd.read_csv('test.csv')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107934 entries, 0 to 107933
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   flat_type             107934 non-null  category
 1   storey_range          107934 non-null  category
 2   floor_area_sqm        107934 non-null  float64
 3   planning_area         107934 non-null  category
 4   year                  107934 non-null  int64
 5   remaining_lease       107934 non-null  int64
 6   nearest_mrt_distance  107934 non-null  float64
 7   exist_primary_school  107934 non-null  bool
dtypes: bool(1), category(3), float64(2), int64(2)
memory usage: 3.7 MB

In [22]:
df['planning_area'] = df['planning_area'].astype(str)
df['flat_type'] = df['flat_type'].astype(str)
df['exist_primary_school'] = df['exist_primary_school'].astype(str)

# df = pd.get_dummies(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107934 entries, 0 to 107933
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   flat_type             107934 non-null  object
 1   storey_range          107934 non-null  category
 2   floor_area_sqm        107934 non-null  float64
 3   planning_area         107934 non-null  object
 4   year                  107934 non-null  int64
 5   remaining_lease       107934 non-null  int64
 6   nearest_mrt_distance  107934 non-null  float64
 7   exist_primary_school  107934 non-null  object
dtypes: category(1), float64(2), int64(2), object(3)
memory usage: 5.9+ MB

In [23]:

df['storey_range'] =  df['storey_range'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107934 entries, 0 to 107933
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   flat_type             107934 non-null  object
 1   storey_range          107934 non-null  int64
 2   floor_area_sqm        107934 non-null  float64
 3   planning_area         107934 non-null  object
 4   year                  107934 non-null  int64
 5   remaining_lease       107934 non-null  int64
 6   nearest_mrt_distance  107934 non-null  float64
 7   exist_primary_school  107934 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 6.6+ MB

In [24]:
# df['storey_range'] = df['storey_range'].map({"L":0,"M":1,"H":2})
df['storey_range'] =  df['storey_range'].astype(int)
df= pd.get_dummies(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107934 entries, 0 to 107933
Data columns (total 46 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   storey_range                 107934 non-null  int64
 1   floor_area_sqm               107934 non-null  float64
 2   year                         107934 non-null  int64
 3   remaining_lease              107934 non-null  int64
 4   nearest_mrt_distance         107934 non-null  float64
 5   flat_type_1                  107934 non-null  uint8
 6   flat_type_2                  107934 non-null  uint8
 7   flat_type_3                  107934 non-null  uint8
 8   flat_type_4                  107934 non-null  uint8
 9   flat_type_5                  107934 non-null  uint8
 10  flat_type_e                  107934 non-null  uint8
 11  flat_type_m                  107934 non-null  uint8
 12  planning_area_ang mo kio     107934 non-null  uint8
 13  planning_area_bedok          107934 non-null  uint8
 14  planning_area_bishan         107934 non-null  uint8
 15  planning_area_bukit batok    107934 non-null  uint8
 16  planning_area_bukit merah    107934 non-null  uint8
 17  planning_area_bukit panjang  107934 non-null  uint8
 18  planning_area_bukit timah    107934 non-null  uint8
 19  planning_area_changi         107934 non-null  uint8
 20  planning_area_choa chu kang  107934 non-null  uint8
 21  planning_area_clementi       107934 non-null  uint8
 22  planning_area_downtown core  107934 non-null  uint8
 23  planning_area_geylang        107934 non-null  uint8
 24  planning_area_hougang        107934 non-null  uint8
 25  planning_area_jurong east    107934 non-null  uint8
 26  planning_area_jurong west    107934 non-null  uint8
 27  planning_area_kallang        107934 non-null  uint8
 28  planning_area_marine parade  107934 non-null  uint8
 29  planning_area_novena         107934 non-null  uint8
 30  planning_area_outram         107934 non-null  uint8
 31  planning_area_pasir ris      107934 non-null  uint8
 32  planning_area_punggol        107934 non-null  uint8
 33  planning_area_queenstown     107934 non-null  uint8
 34  planning_area_rochor         107934 non-null  uint8
 35  planning_area_sembawang      107934 non-null  uint8
 36  planning_area_sengkang       107934 non-null  uint8
 37  planning_area_serangoon      107934 non-null  uint8
 38  planning_area_sungei kadut   107934 non-null  uint8
 39  planning_area_tampines       107934 non-null  uint8
 40  planning_area_tanglin        107934 non-null  uint8
 41  planning_area_toa payoh      107934 non-null  uint8
 42  planning_area_woodlands      107934 non-null  uint8
 43  planning_area_yishun         107934 non-null  uint8
 44  exist_primary_school_False   107934 non-null  uint8
 45  exist_primary_school_True    107934 non-null  uint8
dtypes: float64(2), int64(3), uint8(41)
memory usage: 8.3 MB

## Writing the process data into a new file

In [25]:
%%time
filename="processed_test.csv"

df.to_csv(filename, index=False)

CPU times: user 806 ms, sys: 25 ms, total: 832 ms
Wall time: 834 ms