In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

# 导入随机森林模型
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeClassifier

%matplotlib inline

get training data and training label

In [2]:
df_train = pd.read_csv("processed_train.csv")
df_train.head()
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431732 entries, 0 to 431731
Data columns (total 56 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   floor_area_sqm               431732 non-null  float64
 1   remaining_lease              431732 non-null  int64
 2   price_per_sqm                431732 non-null  float64
 3   nearest_mrt_distance         431732 non-null  float64
 4   index                        431732 non-null  float64
 5   flat_type_1                  431732 non-null  int64
 6   flat_type_2                  431732 non-null  int64
 7   flat_type_3                  431732 non-null  int64
 8   flat_type_4                  431732 non-null  int64
 9   flat_type_5                  431732 non-null  int64
 10  flat_type_e                  431732 non-null  int64
 11  flat_type_m                  431732 non-null  int64
 12  storey_range_0               431732 non-null  int64
 13  storey_range_1               431732 non-null  int64
 14  storey_range_2               431732 non-null  int64
 15  storey_range_3               431732 non-null  int64
 16  storey_range_4               431732 non-null  int64
 17  storey_range_5               431732 non-null  int64
 18  storey_range_6               431732 non-null  int64
 19  storey_range_7               431732 non-null  int64
 20  storey_range_8               431732 non-null  int64
 21  storey_range_9               431732 non-null  int64
 22  planning_area_ang mo kio     431732 non-null  int64
 23  planning_area_bedok          431732 non-null  int64
 24  planning_area_bishan         431732 non-null  int64
 25  planning_area_bukit batok    431732 non-null  int64
 26  planning_area_bukit merah    431732 non-null  int64
 27  planning_area_bukit panjang  431732 non-null  int64
 28  planning_area_bukit timah    431732 non-null  int64
 29  planning_area_changi         431732 non-null  int64
 30  planning_area_choa chu kang  431732 non-null  int64
 31  planning_area_clementi       431732 non-null  int64
 32  planning_area_downtown core  431732 non-null  int64
 33  planning_area_geylang        431732 non-null  int64
 34  planning_area_hougang        431732 non-null  int64
 35  planning_area_jurong east    431732 non-null  int64
 36  planning_area_jurong west    431732 non-null  int64
 37  planning_area_kallang        431732 non-null  int64
 38  planning_area_marine parade  431732 non-null  int64
 39  planning_area_novena         431732 non-null  int64
 40  planning_area_outram         431732 non-null  int64
 41  planning_area_pasir ris      431732 non-null  int64
 42  planning_area_punggol        431732 non-null  int64
 43  planning_area_queenstown     431732 non-null  int64
 44  planning_area_rochor         431732 non-null  int64
 45  planning_area_sembawang      431732 non-null  int64
 46  planning_area_sengkang       431732 non-null  int64
 47  planning_area_serangoon      431732 non-null  int64
 48  planning_area_sungei kadut   431732 non-null  int64
 49  planning_area_tampines       431732 non-null  int64
 50  planning_area_tanglin        431732 non-null  int64
 51  planning_area_toa payoh      431732 non-null  int64
 52  planning_area_woodlands      431732 non-null  int64
 53  planning_area_yishun         431732 non-null  int64
 54  exist_primary_school_False   431732 non-null  int64
 55  exist_primary_school_True    431732 non-null  int64
dtypes: float64(4), int64(52)
memory usage: 184.5 MB

In [3]:
tmp_train = df_train.drop(columns=["price_per_sqm",'index']) 
tmp_train.head()

,floor_area_sqm,remaining_lease,nearest_mrt_distance,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_e,flat_type_m,...,planning_area_sengkang,planning_area_serangoon,planning_area_sungei kadut,planning_area_tampines,planning_area_tanglin,planning_area_toa payoh,planning_area_woodlands,planning_area_yishun,exist_primary_school_False,exist_primary_school_True
0,118.0,87,1137.523316,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,110.0,88,823.554217,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,112.0,83,2230.703009,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
3,67.0,79,423.320893,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,73.0,71,774.220785,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:


X = tmp_train.to_numpy()
y= df_train[["price_per_sqm"]].to_numpy().squeeze()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

train model and find best parameters

In [5]:
%%time
model = RandomForestRegressor(n_estimators=500,max_depth=64)
#,min_samples_split=15)
model.fit(X,y)

CPU times: user 26min 9s, sys: 11 s, total: 26min 20s
Wall time: 26min 23s

RandomForestRegressor(max_depth=64, n_estimators=500)

In [6]:
%%time
y_pre = model.predict(X_test)

CPU times: user 24.7 s, sys: 16.7 s, total: 41.3 s
Wall time: 43 s

In [7]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pre)

0.9725058593814413

max_depth=8, 0.8227
max_depth=12, 0.8898
max_depth=

max_depth=16, 0.748
max_depth=12, 0.6575
max_depth=4, 0.352
max_depth=32, 0.916
max_depth=64, 0.932

32 0.785


* 64 0.933310597472838
* 32 0.9724903794738372

predict the score of test data

In [8]:
df_test = pd.read_csv("processed_test.csv")
df_test.head()

,floor_area_sqm,remaining_lease,nearest_mrt_distance,index,flat_type_1,flat_type_2,flat_type_3,flat_type_4,flat_type_5,flat_type_e,...,planning_area_sengkang,planning_area_serangoon,planning_area_sungei kadut,planning_area_tampines,planning_area_tanglin,planning_area_toa payoh,planning_area_woodlands,planning_area_yishun,exist_primary_school_False,exist_primary_school_True
0,94.0,84,667.550041,0.753,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,122.0,95,766.385760,0.696,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
2,67.0,79,518.257497,0.699,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,82.0,65,546.923279,1.350,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,117.0,73,515.878471,0.762,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:

tmp_test=df_test.drop(columns=['index'])
final_test = tmp_test.to_numpy()
final_test.shape

(107934, 54)

In [10]:
predicted_price_per_sqm = model.predict(final_test)
print(predicted_price_per_sqm)

[2695.33531382 3541.4104717  2720.65287742 ... 3133.41227687 2374.74878122
 3255.82019436]

modify the form of score file as required

In [11]:
array= np.array(df_test["floor_area_sqm"])

In [12]:
predicted_price= array*predicted_price_per_sqm 
shape_0 = predicted_price.shape[0]
array_id = np.arange(shape_0)

In [13]:
print(predicted_price[:5])

[253361.51949926 432052.07754724 182283.74278746 245019.97874548
 414296.78786956]

Adjust based on index

In [14]:
index_arr=np.array(df_test['index'])
print(index_arr)
predicted_price=index_arr*predicted_price
print(predicted_price[:5])

[0.753 0.696 0.699 ... 0.803 1.05  1.166]
[190781.22418294 300708.24597288 127416.33620844 330776.9713064
 315694.1523566 ]

Test data first 5 actual value based on data.
195000 360000 137000 360000 340000

In [15]:
new_array = np.zeros((shape_0,2))
new_array[:,0] = array_id 
new_array[:,1] = predicted_price

In [16]:
df_prediction = pd.DataFrame(new_array)
df_prediction.columns = ['Id','Predicted']
df_prediction['Id'] = df_prediction['Id'].astype(np.int32)

In [17]:
filename="prediction.csv"
df_prediction.to_csv(filename, index=False)