# Linear Regression

In [1]:
%matplotlib notebook

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split

- how to handle categorical variables (nominal e.g. planning_area)
- regression analysis

https://www.analyticsvidhya.com/blog/2015/11/easy-methods-deal-categorical-variables-predictive-modeling/
https://medium.com/analytics-vidhya/implementing-linear-regression-using-sklearn-76264a3c073c
https://www.datacamp.com/community/tutorials/categorical-data

In [3]:
df = pd.read_csv('processed_train.csv')
df.head()

,month,flat_type,storey_range,floor_area_sqm,planning_area,remaining_lease,price_per_sqm,nearest_mrt_distance,exist_primary_school
0,2001-08,4,L,118.0,pasir ris,87,1777.118644,1137.523316,False
1,2014-10,5,H,110.0,punggol,88,3657.272727,823.554217,True
2,2020-09,5,L,112.0,sengkang,83,3133.928571,2230.703009,False
3,2000-10,3,M,67.0,clementi,79,2256.716418,423.320893,True
4,2013-01,3,M,73.0,bukit batok,71,4364.383562,774.220785,True

In [4]:
# storey_range
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="L", 0)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="M", 1)
df["storey_range"]=df["storey_range"].mask(df["storey_range"]=="H", 2)

In [5]:
# exist_primary_school
df["exist_primary_school"]=df["exist_primary_school"].mask(df["exist_primary_school"]==False, 0)
df["exist_primary_school"]=df["exist_primary_school"].mask(df["exist_primary_school"]==True, 1)

In [6]:
# flat_type
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="e", 6)
df["flat_type"]=df["flat_type"].mask(df["flat_type"]=="m", 7)

In [7]:
df.head()

,month,flat_type,storey_range,floor_area_sqm,planning_area,remaining_lease,price_per_sqm,nearest_mrt_distance,exist_primary_school
0,2001-08,4,0,118.0,pasir ris,87,1777.118644,1137.523316,0
1,2014-10,5,2,110.0,punggol,88,3657.272727,823.554217,1
2,2020-09,5,0,112.0,sengkang,83,3133.928571,2230.703009,0
3,2000-10,3,1,67.0,clementi,79,2256.716418,423.320893,1
4,2013-01,3,1,73.0,bukit batok,71,4364.383562,774.220785,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431732 entries, 0 to 431731
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   month                 431732 non-null  object
 1   flat_type             431732 non-null  object
 2   storey_range          431732 non-null  object
 3   floor_area_sqm        431732 non-null  float64
 4   planning_area         431732 non-null  object
 5   remaining_lease       431732 non-null  int64
 6   price_per_sqm         431732 non-null  float64
 7   nearest_mrt_distance  431732 non-null  float64
 8   exist_primary_school  431732 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 29.6+ MB

In [9]:
# planning_area
# one hot encoding

In [10]:
df['month'] = pd.to_datetime(df['month'])
df['month'] = df['month'].apply(lambda x: x.value)

In [11]:
df['flat_type'] = df['flat_type'].astype(str).str.strip().astype(int)
df['storey_range'] = df['storey_range'].astype(str).str.strip().astype(int)
df['exist_primary_school'] = df['exist_primary_school'].astype(str).str.strip().astype(int)

In [12]:
df.head()

,month,flat_type,storey_range,floor_area_sqm,planning_area,remaining_lease,price_per_sqm,nearest_mrt_distance,exist_primary_school
0,996624000000000000,4,0,118.0,pasir ris,87,1777.118644,1137.523316,0
1,1412121600000000000,5,2,110.0,punggol,88,3657.272727,823.554217,1
2,1598918400000000000,5,0,112.0,sengkang,83,3133.928571,2230.703009,0
3,970358400000000000,3,1,67.0,clementi,79,2256.716418,423.320893,1
4,1356998400000000000,3,1,73.0,bukit batok,71,4364.383562,774.220785,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431732 entries, 0 to 431731
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   month                 431732 non-null  int64
 1   flat_type             431732 non-null  int64
 2   storey_range          431732 non-null  int64
 3   floor_area_sqm        431732 non-null  float64
 4   planning_area         431732 non-null  object
 5   remaining_lease       431732 non-null  int64
 6   price_per_sqm         431732 non-null  float64
 7   nearest_mrt_distance  431732 non-null  float64
 8   exist_primary_school  431732 non-null  int64
dtypes: float64(3), int64(5), object(1)
memory usage: 29.6+ MB

In [14]:
# Convert data to numpy arrays
y = df[['price_per_sqm']].to_numpy().squeeze()
X = df.drop(columns=['price_per_sqm', 'planning_area']).to_numpy()

In [15]:
y

array([1777.11864407, 3657.27272727, 3133.92857143, ..., 3814.92537313,
       4134.14634146, 1557.69230769])

In [16]:
X

array([[9.96624000e+17, 4.00000000e+00, 0.00000000e+00, ...,
        8.70000000e+01, 1.13752332e+03, 0.00000000e+00],
       [1.41212160e+18, 5.00000000e+00, 2.00000000e+00, ...,
        8.80000000e+01, 8.23554217e+02, 1.00000000e+00],
       [1.59891840e+18, 5.00000000e+00, 0.00000000e+00, ...,
        8.30000000e+01, 2.23070301e+03, 0.00000000e+00],
       ...,
       [1.29384000e+18, 3.00000000e+00, 0.00000000e+00, ...,
        7.40000000e+01, 5.68873283e+02, 1.00000000e+00],
       [1.36736640e+18, 5.00000000e+00, 2.00000000e+00, ...,
        8.50000000e+01, 6.13929489e+02, 1.00000000e+00],
       [1.18592640e+18, 4.00000000e+00, 0.00000000e+00, ...,
        8.10000000e+01, 9.53334745e+02, 1.00000000e+00]])

In [19]:
# We fit the scaler based on the training data only
scaler = StandardScaler().fit(X)

In [20]:
X = scaler.transform(X)

In [17]:
import statsmodels.api as sm

In [21]:
X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.548
Model:                            OLS   Adj. R-squared:                  0.548
Method:                 Least Squares   F-statistic:                 7.476e+04
Date:                Sat, 03 Apr 2021   Prob (F-statistic):               0.00
Time:                        23:42:03   Log-Likelihood:            -3.4756e+06
No. Observations:              431732   AIC:                         6.951e+06
Df Residuals:                  431724   BIC:                         6.951e+06
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3123.8459      1.154   2706.077      0.000    3121.583    3126.108
x1           815.5219      1.280    637.375      0.000     813.014     818.030
x2           278.4489      3.780     73.661      0.000     271.040     285.858
x3           137.6979      1.167    118.025      0.000     135.411     139.985
x4          -341.3809      3.737    -91.353      0.000    -348.705    -334.057
x5            67.4957      1.406     48.018      0.000      64.741      70.251
x6          -165.9218      1.873    -88.576      0.000    -169.593    -162.250
x7           -42.7680      1.871    -22.853      0.000     -46.436     -39.100
==============================================================================
Omnibus:                    94883.027   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           255659.406
Skew:                           1.181   Prob(JB):                         0.00
Kurtosis:                       5.938   Cond. No.                         6.91
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.